html{
background-color:DimGray;
font-family: 'Roboto', sans-serif; 
}
/*----------------------------------------------------*/
header{
  position: relative;
	text-align: center;
	background-color: #feefae;
	border-radius: 15px 15px 0px 0px;
  -webkit-animation: smooth 1.5s ease-in;
  -moz-animation: smooth 1.5s ease-in;
  -o-animation: smooth 1.5s ease-in;
  -ms-animation: smooth 1.5s ease-in;
  animation: smooth 1.5s ease-in;
	color: Dimgray;
	font-family: circulamedium;
	font-weight: 3px;
	font-size: 80;
}

@-webkit-keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@-moz-keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@-o-keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}


@-webkit-keyframes textup {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@-moz-keyframes textup {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@-o-keyframes textup {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes textup {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
/*------------------------------------------------------*/
@font-face {
    font-family: circulamedium;
    src: url("circula-medium.otf") format("opentype");
}

@font-face {
    font-family: GraublauWeb;
    font-weight: bold;
    src: url("path/GraublauWebBold.otf") format("opentype");
}
article{
color: #feefae;
  -webkit-animation: textup 1.5s ease-in;
  -moz-animation: textup 1.5s ease-in;
  -o-animation: textup 1.5s ease-in;
  -ms-animation: textup 1.5s ease-in;
  animation: textup 1.5s ease-in;

}
.section1{
column-span: 1;
}
.section2{
position: absolute;
right: 0px;
top: 20%;
}


footer{
	color: #feefae;	
}

#bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #feefae;
}

.topnav {
	background-color: #333;
	border-radius: 0px 0px 15px 15px;
	overflow: hidden;
	-webkit-animation: smooth 3s ease-in;
  -moz-animation: smooth 3s ease-in;
  -o-animation: smooth 3s ease-in;
  -ms-animation: smooth 3s ease-in;
  animation: smooth 3s ease-in;
}
.topnav a {
	color: #feefae;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	float: right;
}

.topnav a:hover {
	background-color: #009292;
	color: white;
}

.topnav a.active {
  float: left;
  background-color: #009292;
  border-radius: 0px 10px 10px 10px;
  color: white;
}


#spec table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
}
#spec th {
  background-color: #feefae;
  color: Dimgray;
  border: 4px solid #feefae;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#spec td{
  color: #feefae;
  padding: 5px;
}
#spec tr:nth-child(even) {
  background-color: Gray;
}
/* required css to make rounded table (below) */
#spec tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
#spec tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
#spec tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
#spec tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

@keyframes table {
    0% 
	{	
		opacity: 0;
		margin-top: 80%;
	}
    100% 
	{
		opacity: 1;
		margin-top: 35%;
	}
}
@-webkit-keyframes table  {
    0% 
	{	
		opacity: 0;
		margin-top: 80%;
	}
    100% 
	{
		opacity: 1;
		margin-top: 35%;
	}
}

@keyframes slideup {
    0% 
	{	
		opacity: 0;
		margin-top: 90%;
	}
    100% 
	{
		opacity: 1;
		margin-top: 50%;
	}
}
@-webkit-keyframes slideup  {
    0% 
	{	
		opacity: 0;
		margin-top: 90%;
	}
    100% 
	{
		opacity: 1;
		margin-top: 50%;
	}
}
.slideuptable{
	animation-name: table;
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
	-webkit-animation-name: table ;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-duration: 1.5s;
}

.box {
  height: 80px;
  width: 120px;
  overflow: hidden;
  background: #feefae;
  border: 4px;
  border-radius: 15px;
  color: DimGray;
  font-size: 30;
}
.hid-box {
  top: 100%;
  position: relative;
  transition: all .6s ease-out;
  background: #333;
  height: 100%;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  font-family: circulamedium;
  font-size: 30;
}
.box:hover {
  animation: smooth 2.5s ease-out;
}
.box:hover > .hid-box{
  top: 0;
}
.hid-box a:link { text-decoration: none; }
.hid-box a:visited { text-decoration: none; }
.hid-box a:hover { text-decoration: none; }
.hid-box a:active { text-decoration: none; }

.middleanimate {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.middlecontact{
 /* position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15%;*/
}
#box1{
  position: absolute;
  top: 130px;
  left: 15%;
}
#box2{
  position: absolute;
  top: 130px;
  left: 30%;
}
#box3{
  position: absolute;
  top: 130px;
  right: 30%;
}
#box4{
  position: absolute;
  top: 130px;
  right: 15%;
}
.spacing {
	margin-top: 40px;
}

/*Interest table*/
/*------------------------------------------------------*/
.IT{
  height: 17px;
  width: 30px;
  
}
.imageup{
  opacity: 0;
}
.IT:hover  .imageup{
	animation-name: slideup;
	animation-fill-mode: both;
	animation-duration: 3s;
	-webkit-animation-name: slideup;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 3s;
}

.imagelocation {
  position: absolute;
  right: 35%;
  max-width: 25%;
  max-height: 25%;
  border-radius: 5%;
}
/*^^^^^^^^^^^^              IT              ^^^^^^^^^^^^*/     

.hardware{
  height: 17px;
  width: 80px;
}
.hardwareimage{
  opacity: 0;
}

.hardware:hover .hardwareimage{
  animation-name: slideup;
	animation-fill-mode: both;
	animation-duration: 3s;
	-webkit-animation-name: slideup;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 3s;
}

.imghardware{
  position: absolute;
  right: 35%;
  max-width: 25%;
  max-height: 25%;
  border-radius: 5%;
}
/*^^^^^^^^^^^^           hardware           ^^^^^^^^^^^^*/

.PCparts{
  height: 17px;
  width: 80px; 
}

.PCpartsimage{
  opacity: 0;
}

.PCparts:hover .PCpartsimage{
  animation-name: slideup;
	animation-fill-mode: both;
	animation-duration: 3s;
	-webkit-animation-name: slideup;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 3s;  
}

.imgPCparts{
  position: absolute;
  right: 35%;
  max-width: 25%;
  max-height: 25%;
  border-radius: 5%; 
}
/*^^^^^^^^^^^^           PCparts            ^^^^^^^^^^^^*/

.VRandAR{
  height: 17px;
  width: 80px;  
}

.VRandARimage{
  opacity: 0;
}

.VRandAR:hover .VRandARimage{
  animation-name: slideup;
	animation-fill-mode: both;
	animation-duration: 3s;
	-webkit-animation-name: slideup;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 3s;   
}

.imgVRandAR{
  position: absolute;
  right: 35%;
  max-width: 25%;
  max-height: 25%;
  border-radius: 5%; 
}
/*^^^^^^^^^^^^            VRandAR           ^^^^^^^^^^^^*/

.quest3{
  height: 17px;
  width: 80px;
  background-color: #feefae;
}

.quest3image{
  opacity: 0;
}

.quest3:hover .quest3image{
  animation-name: slideup;
	animation-fill-mode: both;
	animation-duration: 3s;
	-webkit-animation-name: slideup;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 3s;  
}

.imgquest3{
  position: absolute;
  right: 35%;
  max-width: 25%;
  max-height: 25%;
  border-radius: 5%;
}
/*^^^^^^^^^^^^             quest3           ^^^^^^^^^^^^*/


/*------------------------------------------------------*/


