html{
background-color:DimGray;
font-family: 'Roboto', sans-serif; 
}
header{
	text-align: center;
	background-color: #feefae;
	border-radius: 15px 15px 0px 0px;
    -webkit-animation: smooth 2.5s ease-in;
    -moz-animation: smooth 2.5s ease-in;
    -o-animation: smooth 2.5s ease-in;
    -ms-animation: smooth 2.5s ease-in;
    animation: smooth 2.5s ease-in;
	color: Dimgray;
	font-family: circulamedium;
	font-weight: 3px;
	font-size: 80;
}

@font-face {
    font-family: circulamedium;
    src: url("circula-medium.otf") format("opentype");
}

@font-face {
    font-family: GraublauWeb;
    font-weight: bold;
    src: url("path/GraublauWebBold.otf") format("opentype");
}
article{
	color: #feefae;
	text-align: left;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 10px;
	grid-auto-rows: 100px;
	grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d"
}
#s1{
  /*border: solid 1px;
    border-radius:2px;*/
    grid-column:1/10;
	grid-area: a;
	justify-self: stretch
}
#s2{
  /*border: solid 1px;
    border-radius:15px;*/
    grid-column:10/11;
	grid-area: b/last-line ;
	align-self: end;
}
footer{
	color: #feefae;	
	
	
}

#bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #feefae;
}

.topnav {
	background-color: #333;
	border-radius: 0px 0px 15px 15px;
	overflow: hidden;
	-webkit-animation: smooth 3s ease-in;
    -moz-animation: smooth 3s ease-in;
    -o-animation: smooth 3s ease-in;
    -ms-animation: smooth 3s ease-in;
    animation: smooth 3s ease-in;
}
.topnav a {
	color: #feefae;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	float: right;
}

.topnav a:hover {
	background-color: #009292;
	color: white;
}

.topnav a.active {
  float: left;
  background-color: #009292;
  border-radius: 0px 10px 10px 10px;
  color: white;
}
@-webkit-keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@-moz-keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@-o-keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}