
html{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 120;
}
/* DAVIE */
#DavieGoesUp{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: CreepyDave;
    animation-duration: 10s;
    overflow: hidden;
    animation-fill-mode: forwards;
}
@keyframes CreepyDave {
    0%
        {
            top: 100%
        }
    100%
        {
            top:50%
        }
}
#DavieStill{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

/* STEVEN */

#StevenGoesUp{
    position: absolute;
    top:50%;
    transform: translate(-50%, -50%);
    animation-name: PhonySteven;
    animation-duration: 10s;
    overflow: hidden;
    animation-fill-mode: forwards;
}
@keyframes PhonySteven {
    0%
        {
            left: 100%;
        }
    100%
        {
            left: 65%;
        }
}
#StevenStill{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%); 
}

.Background{
    background: url(../images/PizzeriaBackground.jpg) no-repeat center center fixed;
    background-size: cover;
}
.talking{
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(101, 64, 101); 
}
.TalkingOptionsFloat{
    background-color: #333;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    animation-name: TheBox;
    animation-duration: 10s;
    overflow: hidden;
    animation-fill-mode: forwards;
    
}
@keyframes TheBox {
    0%
        {
            top: 100%
        }
    100%
        {
            top:80%
        }
}

.TalkingOptions{
    background-color: #333;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 800px;
    height: 300px;
    border: #feefae;
    border-width: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    background-color: #009292;
    color: white;
    border-radius: 3px;
    padding: auto;
}
.giveup{
    position: absolute;
    left: 95%;
}
.skip.skip{
    background-color: #feefae;
    color: rgb(105, 105, 105);
    padding: 14px 28px;
    border-radius: 15px;
    position: absolute;
    right: 10%;
    top: 10%;
}

#UDeadLol{
    background: url(../images/2019-08-05_29.png) no-repeat center center fixed;
    background-size: cover;
}